@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<Personnel>

@{
    ViewBag.Title = "DepartmentDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="mt-4 mb-4 text-center">Personnel Belonging to the @ViewBag.DepartmentName Department</h1>

<div class="card mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead align="center" class="table-secondary">
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody align="center">
                    @foreach (var x in Model)
                    {
                        <tr>
                            <td><img src="@x.Image" class="img-fluid" /></td>
                            <td>@x.Name</td>
                            <td>@x.Surname</td>
                            <td>
                                <ul class="p-0 m-0">
                                    <li class="d-inline px-2"><a href="/Department/PersonnelsBelongingSales/@x.ID" title="Personnels Belonging Sales" class="text-primary"><i class="fa fa-file-invoice"></i></a></li>
                                </ul>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>